body {
    background-image: url("/visualSite/imageAssets/pexels-raphael-brasileiro-2469029.jpg");
    background-size: cover;
    color: rgb(211, 211, 211);
    font-family: monospace;
    text-align: center;
}