body {
    background-image: url("visualSite/imageAssets/Cieling_Flames_4K_Motion_Background_Loop.mp4") center center fixed;
    background-size: cover;
    color: rgb(211, 211, 211);
    font-family: monospace;
    text-align: center;
}